<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
            <!-- Items -->
            <div class="items">
                <div class="item intro span-2">
                    <h1>{{ .Site.Title }}</h1>
                    <p>{{ .Site.Params.description}}</p>
                </div>
                {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") 5  }}
                
                    {{ range $index, $page := $paginator.Pages }}
                        {{ if eq 0 (mod $index 2)}}
                        <article class="item thumb span-{{ add 1 (mod (mul $index 23) 3 ) }}">
                            <a class="link" href="{{ .Permalink }}">
                                <h2>{{ .Title }}
                                    <time>{{ .Date.Format "2006-01-02" }}</time>
                                </h2>
                                {{ $thumb := path.Join .File.Dir "thumb.jpg"}}
                                {{ if (fileExists $thumb) -}}
                                <img src="{{ $thumb  | absURL }}">
                                {{ else }}
                                <img src="images/thumbs/0{{ add 1 (mod (mul $index 17) 6 ) }}.jpg">
                                {{- end }}
                                <!-- <img src="images/thumbs/0{{ add 1 (mod (mul $index 17) 6 ) }}.jpg"> -->
                            </a>
                        </article>
                        {{ end }}
                    {{ end }}
            </div>
            <div class="items">
                    
                {{ range $index, $page := $paginator.Pages }}
                    {{ if eq 1 (mod $index 2)}}
                    <article class="item thumb span-{{ add 1 (mod (mul $index 29) 3 ) }}">
                        <a class="link" href="{{ .Permalink }}">
                    <h2>{{ .Title }}  
                        <time>{{ .Date.Format "2006-01-02" }}</time>
                    </h2>
                    
                    {{ $thumb := path.Join .File.Dir "thumb.jpg"}}
                    {{ if (fileExists $thumb) -}}
                    <img src="{{ $thumb  | absURL }}">
                    {{ else }}
                    <img src="images/thumbs/0{{ add 1 (mod (mul $index 17) 6 ) }}.jpg">
                    {{- end }}
                    

                    </article>
                    {{ end }}
                {{ end }}
            </div>

        
						
        {{ if gt $paginator.TotalPages 1 }}
        <footer class="page-footer">
        <nav class="pagination">
            {{ if $paginator.HasPrev }}
            <a class="prev" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
            {{ end }}
            {{ if $paginator.HasNext }}
            <a class="next" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }} →</a>
            {{ end }}
        </nav>
        </footer>
        {{ end }}
        {{- partial "footer.html" . -}}
    </body>
</html>
